
<div class='container'>
  <h2 align="center" id="sub"> Submit a new travel </h2>
  <form [formGroup] ="travel" (ngSubmit)= "submitTravel(travel)" class="nib">
      <label>Departure</label>
      <input type="text" placeholder="Departure" id="departure" formControlName="departure">     
      <label>Arrival</label>
      <input type="text" placeholder="Arrival" id="arrival" formControlName="arrival" >
      <br>
    
    <button type="submit"id="datSubmit">Submit</button>
  </form>
</div>
<div class = "wrap">
    <button (click)="loadTravel()"id="butt"> Fetch travel list </button>     
</div>
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th> id </th>
      <th> arrival </th>
      <th> departure </th>
      <th> date </th>
    </tr>
  </thead>
  <tr *ngFor='let item of travels'>
    <th>{{item._id}}</th>
    <th>{{item.Departure}} </th>
    <th>{{item.Arrival}} </th>
    <th>{{item.Date}} </th>
  </tr>
  </table>
  </div>
